<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.antido.node.mapper.LockRecordMapper">
	
	<resultMap id="BaseResultMap" type="cn.antido.node.pojo.LockRecord">
		<id column="name" property="name"/>  
        <result column="global_id" property="global_id"/>
        <result column="is_lock" property="is_lock"/>
        <result column="begin" property="begin"/>
	</resultMap>
	
	
	<sql id="tableName" > 
		 tb_lock_record 
	</sql>
	
	<sql id="baseColumn" > 
		name, global_id, is_lock, begin
	</sql>
	
	<insert id="insert" parameterType="cn.antido.node.pojo.LockRecord">
		insert into 
		<include refid="tableName"/>
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null" >name,</if>
	      	<if test="global_id != null" >global_id,</if>
     	 	<if test="is_lock != null" >is_lock,</if>
     	 	<if test="begin != null" >begin,</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="name != null" >#{name},</if>
	      	<if test="global_id != null" >#{global_id},</if>
     	 	<if test="is_lock != null" >#{is_lock},</if>
     	 	<if test="begin != null" >#{begin},</if>
		</trim>
	</insert>
	

	
	
</mapper>