<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.antido.search.mapper.ParkMapper">
	
	<resultMap id="BaseResultMap" type="cn.antido.admin.pojo.Park">
		<id column="id" property="id"/>  
        <result column="name" property="name"/>  
        <result column="position_desc" property="position_desc"/>  
        <result column="park_type" property="park_type"/>
		<result column="state" property="state"/>
		<result column="east_longitude" property="east_longitude"/>
		<result column="north_latitude" property="north_latitude"/>
		<result column="price" property="price"/>
		<result column="working_count" property="working_count"/>
		<result column="using_count" property="using_count"/>
		<result column="city_id" property="city_id"/>
		<result column="district_id" property="district_id"/>
	</resultMap>
	
	<sql id="tableName" > 
		 tb_park 
	</sql>
	
	<sql id="baseColumn" > 
		id, name, position_desc, park_type, state, east_longitude, north_latitude, price, working_count, using_count, city_id, district_id
	</sql>
	
	<select id="selectParkInfo" resultMap="BaseResultMap">
		select 
			<include refid="baseColumn"/>
		from 
			<include refid="tableName"/>
	</select>
	
	<select id="selectByParkId" parameterType="Long" resultMap="BaseResultMap">
		select 
			<include refid="baseColumn"/>
		from 
			<include refid="tableName"/>
		where id = #{parkId}
	</select>
	
</mapper>